/**** Start Default Color Theme ****/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check,
.loading-overlay
{
  background-color: #0091ff
}

.navbar-brand span,
.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span
{
  color: #0091ff
}

.option-box .color-option,
.testimonials .carousel-indicators li.active
{
  border: 3px solid #0091ff
}

.dropdown-menu
{
  border-top: 3px solid #0091ff
}

/**** End Default Color Theme ****/
